<app-student-count [all]="getTotalStudentsCount()"
[male]="getMaleStudentsCount()"
[female]="getFemaleStudentsCount()"
(countRadioButtonSelectionChanged) = "onStudentCountRadioButtonChange($event)"></app-student-count>
<br/>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>GENDER</th>
            <th>DOB</th>
            <th>COURSE FEE</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let student of students">
        <tr  *ngIf="selectedStudentCountRadioButton =='ALL' || selectedStudentCountRadioButton == student.Gender">
            <td>{{student.ID}}</td>
            <td>{{student.FirstName +" "+student.LastName}}</td>
            <td>{{student.Gender}}</td>
            <td>{{student.DOB}}</td>
            <td>{{student.CourseFee}}</td>

        </tr>
    </ng-container>
    </tbody>
</table>
