<!-- <h1>Student Details</h1>
<button [disabled]="isDisabled">Click Here</button>
<br/>
<button (click) = 'onClick()'>Click Me</button>
<div [innerHTML]= 'HackText' [class]='classToApply'></div>
<div>
    Name: <input [(ngModel)] = 'Name'>
    <br/>
    You entered: {{Name}}
</div>
<hr>
<app-student></app-student>

<app-student-list></app-student-list> -->

<h1>Angular Routing Example</h1>
<!--
<a [routerLink] = "['/studentLink']">Student</a><br/>
<a [routerLink] = "['/studentlistLink']">Student List</a>
-->
<button (click) = "getStudent()">Student</button><br/><br/>
<button (click) = "getStudentList()">Student List</button>
<div>
    <router-outlet></router-outlet>
</div>
